* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  margin-top: 3rem;
}

.navbar > h1 {
  margin-left: 3rem;
  margin-right: auto;
}
.navbar > button {
  margin-right: 3rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}
